@import 'variables.css';

::-webkit-scrollbar {
  width: 10px;
  background: var(--bg, white);
}

::-webkit-track {
  background: var(--bg, white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary, red);
  border-radius: 10000000vw;
}
