/* Initialize The Font */
/* 
@font-face {
  font-family: 'Inter';
  src: url(./fonts/inter/Inter-VariableFont_slnt\wght.ttf);
  src: url(./fonts/inter/Inter-VariableFont_slnt\wght.ttf) format('woff'),
    url(./fonts/inter/Inter-VariableFont_slnt\wght.ttf) format('opentype'),
    url(./fonts/inter/Inter-VariableFont_slnt\wght.ttf) format('svg');
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import 'variables.css';

/* Basic Styling */

html,
body {
  width: 100%;
  min-height: 100vh;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: var(--bg, white);
  color: var(--primary, red);
  font-family: 'Inter', sans-serif;
  overflow-x: none;
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

lndgImg {
  position: absolute;
  right: 0;
  bottom: -2rem;
  z-index: 0;
  font-size: 10px;
}

.lndg_1 {
  width: 40em;
  position: absolute;
  right: 9em;
  bottom: 5rem;
}
.lndg_2 {
  width: 50em;
  position: absolute;
  right: 1em;
  bottom: 15rem;
}

@media (max-width: 1650px) {
  lndgImg {
    display: none;
  }
}

.cursor-trail {
  position: fixed;
  pointer-events: none;
}

.snowflake {
  font-size: 20px;
  color: #fff;
  user-select: none;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

a {
  color: var(--primary);
  text-decoration: none;
  position: relative;
  font-weight: 700;
}

a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.25rem;
  background: var(--primary);
  bottom: -0.5rem;
  left: 0;
  transition: 300ms ease width;
}

a:hover::after {
  width: 100%;
}

button a {
  all: unset;
}
button a::after {
  display: none;
}

/* Navigation */

nav {
  width: 100%;
  min-height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  gap: 0.5rem;
  background: var(--bg, white);
  z-index: 5000;
}

.hambureger-nav {
  display: none;
}

h4 {
  font-size: 1.5rem;
  font-weight: 900;
}

nav ul {
  list-style: none;
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  outline: 3px solid var(--primary);
  padding: 1rem;
  border-radius: 1000vw;
  -webkit-border-radius: 1000vw;
  -moz-border-radius: 1000vw;
  gap: 1rem;
  z-index: 200;
}

a {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}

nav ul li a {
  font-weight: 600;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials div {
  color: var(--primary, red);
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1000vw;
  -webkit-border-radius: 1000vw;
  -moz-border-radius: 1000vw;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  outline: 3px solid var(--primary);
  cursor: pointer;
}

/* Main */

main {
  margin-left: 7.5rem;
  margin-top: 5rem;
  overflow-x: none;
  min-height: 100vh;
}

/* Landing */

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  /* align-items: center; */
}

h1 {
  font-size: 4rem;
}

.bullet_point {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: var(--primary, red);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

p.desc {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 200;
  line-height: 158.023%;
  max-width: 50pc;
  opacity: 0.8;
  z-index: 200;
}

button {
  all: unset;
  border-radius: 6.25rem;
  -webkit-border-radius: 6.25rem;
  -moz-border-radius: 6.25rem;
  background: var(--primary, #f74e3a);
  box-shadow: -12px 12px 0px 2px #000;
  color: var(--bg, white);
  padding: 1rem 4rem;
  text-align: center;
  max-width: 16rem;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

button:hover {
  transform: translate(2.5%, -3.5%);
  box-shadow: -16px 16px 0px 2px #000;
}

button:active {
  transform: translate(-5%, 5%);
  box-shadow: -6px 6px 0px 2px #000;
}

/* Marquee */

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: scroll 36s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.seperator_landing {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  height: 2.5rem;
  outline: 5px solid var(--primary, red);
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
}

/* About Me */

#about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  place-items: center;
  margin-block: 0.5rem;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0.8;
}

#about-me p {
  font-size: 1rem;
}

#about-me .img_me {
  width: 50%;
  aspect-ratio: 1;
  background: repeating-linear-gradient(
    45deg,
    var(--primary, red),
    var(--primary, red) 10px,
    transparent 10px,
    transparent 20px
  );
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_me img {
  width: 75%;
  height: 75%;
  aspect-ratio: 1;
}

/* Projects */

.projects_container {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  outline: 5px solid var(--primary, red);
  padding: 1rem;
  max-width: 20rem;
  justify-content: space-between;
}

.project img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: var(--primary, red);
}

.project h3 {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}

.project button {
  box-shadow: none;
  transform: none;
}

.project button:hover {
  box-shadow: none;
  transform: none;
}

.project button:active {
  box-shadow: none;
  transform: none;
}

/* Time for Mobile Yay! (sarcasm intended)*/

@media (max-width: 900px) {
  main {
    margin-left: 0px;
  }
  #landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-inline: auto;
  }
  .bullet_point {
    display: none;
  }
  #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin-inline: auto;
  }
  section h2 {
    text-align: center;
  }
  .projects_container {
    justify-content: center;
  }
  .marquee {
    display: none;
    pointer-events: none;
  }
  .hambureger-nav {
    display: block;
    font-size: 2rem;
    z-index: 2000000;
  }
  .nav-links:is(.open) {
    display: block;
    all: unset;
    color: white;
    backdrop-filter: blur(10px) brightness(0.5);
    -webkit-backdrop-filter: blur(10px) brightness(0.5);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-top: 5rem;
    gap: 2rem;
    list-style: none;
    font-size: 2rem;
    width: 80%;
    opacity: 1;
    z-index: 200000;
    pointer-events: all;
  }
  .nav-links:not(:is(.open)) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
  a::after {
    width: 100%;
  }
  .seperator {
    display: none;
  }

  #countdown {
    width: 80vw !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0 !important;
  }
}

@media (max-width: 704px) {
  .project {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.seperator {
  width: 80%;
  margin-left: calc(-7.5rem + 50%);
  margin-right: auto;
  transform: translateX(-50%);
  opacity: 0.8;
}

#countdown {
  margin-left: calc(-7.5rem + 50%);
  margin-right: auto;
  transform: translateX(-50%);
  max-width: fit-content;
}

#christmas_time {
  background: var(--primary, red);
  color: var(--bg, white);
  /* background: green !important; */
  max-width: 50pc;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 2rem;
  margin-inline: auto;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 3rem);
  pointer-events: none;
}

@media (max-height: 708px) {
  .seperator_landing {
    display: none !important;
  }
}
